name: directory-listing

on:
  push:
    branches:
      - main


permissions:
  id-token: write
  pages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
     
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      
      - name: Build webXash
        run: |
          cd webXash
          npm i
          git submodule update --init
          npm run build
          touch 'dist/.nojekyll'
          cp ./hl-engine-js/lib/xash.html.mem ./dist
          cp ./hl-engine-js/lib/client.js ./dist
          cp ./hl-engine-js/lib/menu.js ./dist
          cp ./hl-engine-js/lib/xash.js ./dist
          cp ./hl-engine-js/lib/server.js ./dist
          cd ..
          mkdir game
          cp -r webXash/dist game

      
      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: game/dist

      
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
        with:
          artifact_name: github-pages
