name: directory-listing

on:
  push:

jobs:
  pages-directory-listing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Generate Directory Listing
        uses: yKicchan/generate-directory-listing-action@v1.1.0
        with:
          target: ./
          viewType: 'list'

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .
          name: github-pages  


  deploy:
    needs: pages-directory-listing
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: github-pages
          path: public


      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4.2.0
        with:
          target_branch: gh-pages
          build_dir: public
          keep_history: true
          allow_empty_commit: false
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
